html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
}

header {
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 560px;
    text-align: center;
    align-content: flex-end;
    background-color: rgb(61,76,139);
    background-image: url("./images/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.container {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: rgb(85,61,139);
}

.content {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: none;
}

span {
    margin: 0;
    padding: 10px 0;
    background-color: transparent;
}

aside {
    margin: 0;
    padding: 10px 0;
    background-color: rgb(124,61,139);
}

.basicinfo {
    margin: 0;
    padding: 0 10px 10px;
    background-color: rgb(76,139,61);
}

.hobbies {
    padding: 0 10px;
    background-color: rgb(139,124,61);
}

.socmeds {
    margin: 0 10px 0 0;
    padding: 0 10px 20px;
    width: 100%;
    position: relative;
}