body{
    margin: 0;
    padding: 0;
    width: 100%;    
    box-sizing: border-box;
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 0.8s;
}
.background:hover{
    opacity: 0.7;
}

.container{
    position: absolute;
    width: 72%;
    height: 87%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4f4f4f;
    overflow: hidden;
    font-family: "Ubuntu", sans-serif;
    border: none;
    box-shadow: 50px #3333;
}

.container img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.navigation{
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.page{
    width: 40px;
    height: 40px;
    border: 2px solid #ddd;
    margin: 0 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.6s;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 30px #000f;
}

.page i{
    size: auto;
}

.page:hover{
    border-color: #f09;
    background: #f09;
    transform: scale(1.2);
    color: #bdb;
    box-shadow: 0 15px 50px #111d;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.slides section{
    width: 25%;
    transition: 0.6s;
}

.slide{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#r1:checked ~ .show{
    margin-left: 0;
}
#r2:checked ~ .show{
    margin-left: -25%;
}
#r3:checked ~ .show{
    margin-left: -50%;
}
#r4:checked ~ .show{
    margin-left: -75%;
}

.name{
    width: 100%;
    height: 100%;
    padding: 0 50px;
    align-items: left;
    flex-direction: column;
}

.basicinfo{
    width: 400px;
    height: 380px;
    margin: 50px 0;
    padding: 50px 40px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    background: #333;
}
.basicinfo h3{
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
    text-transform: uppercase;
}
.basicinfo div{
    font-size: 18px;
    margin: 20px 0;
    color: #f09b;
}

.hobbies{
    width: 100%;
    height: 100%;
    padding: 50px 0;
    align-items: center;
    flex-direction: column;
}

.socmed{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
}

.sm{
    display: flex inline-flex;
    justify-content: center;
    align-items: center;
}
.sm a{
    padding: 30px;
}

.sm a i{
    transform: scale(4);
    color: #767;
    size: 50px;
}